### The following variable defines the session which is started if the user
### does not explicitly select a session.
### (this is a --sample-- not "as-shipped by antiX")
#
### If you intend use a well-populated xinitrc file,
### take a look at this additional sample file ---v
###     https://github.com/PeteGozz/slim/blob/master/xinitrc.sample
###
### changed for slim v1.4.2
###
DEFAULT_SESSION=twm

case $1 in
xfce4)
	exec startxfce4
	;;
icewm)
	icewmbg &
	icewmtray &
	exec icewm-session
	;;
icewm-session)
	icewmbg &
	icewmtray &
	exec icewm-session
	;;
wmaker)
	exec wmaker
	;;
fluxbox)
	exec fluxbox
	;;
openbox)
	exec openbox
	;;
*)
	exec $DEFAULT_SESSION
	;;
esac


###        FYI
### ON ANTIX SYSTEM, /etc/X11/xinit/xinitrc CONTAINS THE FOLLOWING
###   (ALL EXECPT THE LINE SOURCING /etc/X11/Xsession ARE OUTCOMMENTED)
### global xinitrc file, used by all X sessions started by xinit (startx)
###
### invoke global X session script
#. /etc/X11/Xsession
